<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Strona główna</title>
</head>
<body>
<%- include('partials/menu'); %>
<div id="main">
  <h1>Strona główna</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat, risus nec facilisis lacinia, risus lectus laoreet eros, et malesuada neque nisi ac odio.</p>
      <p>Vivamus tristique elit non lectus tincidunt, eget ullamcorper lacus luctus. Aliquam erat volutpat. Donec at dui a erat tristique tempor et ut ex.</p>
      <p>Sed euismod felis sit amet turpis scelerisque, eget euismod nisl malesuada. Duis eget interdum est, nec tristique nunc. Cras at velit vel felis dignissim tempus.</p>

</div>
<%- include('partials/footer'); %>

</body>
</html>
