<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Strona główna</title>
</head>
<body>
<%- include('partials/menu'); %>
<div id="main">
    <img src="/static/image1.jpg" class="slides active-slide" alt="Image 1">
    <img src="/static/image2.jpg" class="slides" alt="Image 2">
    <img src="/static/image3.jpg" class="slides" alt="Image 3">
    <div class="slider-controls">
        <button onclick="showSlide(-1)">&#10094; Previous</button>
        <button onclick="showSlide(1)">Next &#10095;</button>
    </div>
</div>
<%- include('partials/footer'); %>
<script>
    let slideIndex = 0;
    var slides = document.querySelectorAll(".slides");

    function showSlide(direction) {
        slides[slideIndex].classList.remove("active-slide");
        slideIndex = (slideIndex + direction + slides.length) % slides.length;
        slides[slideIndex].classList.add("active-slide");
    }

    setInterval(() => showSlide(1), 5000);
</script>
</body>
</html>
