@use './variables';
@use './mixins';
@use './base';
@use './variables' as vars;
@use 'sass:color';



.home, .post-page, .categories {
  padding: 2rem;
  text-align: center;
}

.post-list, .category-list {
  margin-top: 2rem;

  .post, .category-list ul {
    margin-bottom: 1rem;
  }

}

.post-list h2 {
  text-decoration: underline;
}

button{
    background-color: vars.$primary-color;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: color.scale(vars.$primary-color, $lightness: -30%);
    }
}